/* resets and global */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: transform 0.25s;
}

body {
    background-color: #171829;
    color: #FFFFFF;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #D9DCFB;
}

.page-wrapper {
    /* overflow: hidden; */
    width: 100%;
    height: 100vh;
}

/* classes */

/* .container {
    max-width: 80%;
    padding: 0 0 0 155px;
} */

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0;
    width: 50%;
}

.right {
    width: 50%;
}

.bg {
    width: 100%;
    height: 100vh;
    position: relative;
}

.right-text {
    position: absolute;
    right: 60px;
    top: 60px;
    display: flex;
    gap: 24px;
    align-items: center;
}  

.btn {
    width: 410px;
    background-color: #1D77FF;
    border-radius: 36px;
    color: #FFFFFF;
    border: none;
    padding: 16px 0;
    margin-bottom: 32px;
}

.btn2 {
    font-weight: 500;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 40px;
    padding: 12px 24px;
}

.inp {
    width: 410px;
    background-color: transparent;
    border: 1px solid #6A6E9F;
    color: #FFFFFF;
    font-size: 16px;
    padding: 16px 0 16px 24px;
    border-radius: 16px;
    margin-bottom: 16px;
}

.inp::placeholder {
    color: #6A6E9F;
    font-family: 'Manrope', sans-serif;
}

.title {
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
}

.text {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}

.password {
    position: relative;
}
.password-control {
    position: absolute;
	top: 12px;
	right: 16px;
	display: inline-block;
	width: 24px;
	height: 24px;
}


